<section id="contact">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Contact Me</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Want to have a chat? Connect with me through the following platforms.</p>
            <div class="flex gap-4 items-center justify-center">
                <a href="https://github.com/SamJohn04" class="p-2 flex items-center justify-center transition hover:scale-110 size-10"><img src='/assets/icons/github.svg' alt="github"/></a>
                <a href="mailto:samuel.john.codes@gmail.com" class="p-2 flex items-center justify-center transition hover:scale-110 size-10"><img src='/assets/icons/email.svg' alt="email"/></a>
            </div>
        </div>
    </div>
</section>