<section id="contact">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Contact Me</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Want to have a chat? Connect with me through the following platforms.</p>
            <div class="flex gap-4 items-center justify-center">
                <a href="https://github.com/SamJohn04" class="p-2 flex items-center justify-center transition hover:scale-105"><img src='https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png' class="w-8 h-8"/></a>
                <a href="mailto:samuel.john.codes@gmail.com" class="p-2 flex items-center justify-center transition hover:scale-105"><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" /><span class="material-symbols-outlined">
                    mail
                    </span></a>
            </div>
        </div>
    </div>
</section>