<section id="about">
    <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">About Me</h1>
    <div class="flex max-md:flex-col max-md:gap-6 items-center pb-40">
        <app-skills></app-skills>
        <p class="max-md:text-justify">I am a Computer Science and Engineering student with a zest to learn, explore and create. The culmination of one&apos;s experience and knowledge results in the creation of something wonderfully unique. As a developer, I strive to achieve this with every project I work on. Additionally, I believe that knowledge shared is knowledge grown, and I enjoy the opportunities I get to share mine through training and mentoring.</p>
    </div>
</section>