ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

li {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
}

li > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}