@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */
:root {
    --background-color: #f4f4f4;
    --text-color: #333;
    --hover-dark: #00000033;
}

body {
    margin: 0;
    font-family: 'Poppins', 'Inter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

section {
    padding: 3rem 0;
    width: 100%;
    min-height: 100vh;
}